body {
   background-color: rgb(211, 211, 248);
   width: 100%;
   height: auto;
   overflow-x: hidden;
   overflow-y: scroll;
}

.characters {
   width: 100%;
   height: auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-auto-rows: 400px;
   gap: 10px;
   place-items: center;
}

/* .characters {
   width: 100%;
   height: 350px;
} */